








h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
input {
  background-color: black;
}
.bcontolboard {
  background-color: white;
  width: 80%;
  height: auto;
}
.time {
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}




 
.result {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.points {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 75px;
}
.oneTwoThree {
  display: flex;
  height: 100px;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  flex-direction: row;
}

.p {
  border-radius: 25%;
  text-align: center;
  padding: 5px;
}
.PHG {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
container {
  margin: 20px 20px;
  border: red 10px solid;
  padding: 25px;
  display: flex;
  background-color:yellow;
}
input {
  border: solid 4px red;
}
.bcontrolboard{
  border: 15px black solid;
  margin: 25px;
  padding: 10px;
}
.p{
  background-color: yellow;
  color: red;
  size: 20px;
  border: 2px white solid;
  padding: 5px;
  background-color: black;
  height: 2.2em;

}

.p1{
  font-size: 2em;
  height: 2em;
  width: 10em;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}