@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Roboto+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 14px;
  color: rgb(122, 122, 122);
}

html {
  scroll-behavior: smooth;
}