@import url('https://fonts.googleapis.com/css2?family=Lato&family=Cute+Font&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}

/* USER LOGIN & REGISTRATION STYLES */
.user-login{
  width: 250px;
  margin: 230px auto;
  color: rgb(122, 122, 122);
}

.user-login input{
  width: 247px;
  display: block;
  padding: 2.5%;
  margin: 2.5% 0.1%;
  padding: 5.5px;
  font-size: 18px;
  border: 1px solid rgb(157, 194, 230);
  border-radius: 10px;
  outline: none;
}

.user-login input[type='submit']{
  display: block;
  width: 100%;
  color: rgb(104, 147, 190);
  padding: 5px 15px;
}

.user-login input[type='submit']:hover{
  color: #fff;
  background: rgb(104, 147, 190);
  cursor: pointer;
}

.user-login p{
  display: block;
  font-size: 13.88px;
}

.user-login select{
  width: 247px;
  display: block;
  padding: 2.5%;
  margin: 2.5% 0.1%;
  padding: 5.5px;
  font-size: 18px;
  border: 1px solid rgb(157, 194, 230);
  border-radius: 10px;
  outline: none;
}

.submit-buttons{
  display: flex;
  justify-content: space-between;
}