@import url('https://fonts.googleapis.com/css2?family=Lato&family=Cute+Font&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}

/* USER LOGIN & REGISTRATION STYLES */
.user-login{
  width: 250px;
  margin: 230px auto;
  color: rgb(122, 122, 122);
}

.user-login input{
  width: 247px;
  display: block;
  padding: 2.5%;
  margin: 2.5% 0.1%;
  padding: 5.5px;
  font-size: 18px;
  border: 1px solid rgb(157, 194, 230);
  border-radius: 10px;
  outline: none;
}

.user-login input[type='submit']{
  display: block;
  width: 100%;
  color: rgb(104, 147, 190);
  padding: 5px 15px;
}

.user-login input[type='submit']:hover{
  color: #fff;
  background: rgb(104, 147, 190);
  cursor: pointer;
}

.user-login p{
  display: block;
  font-size: 13.88px;
}

.user-login select{
  width: 247px;
  display: block;
  padding: 2.5%;
  margin: 2.5% 0.1%;
  padding: 5.5px;
  font-size: 18px;
  border: 1px solid rgb(157, 194, 230);
  border-radius: 10px;
  outline: none;
}

.submit-buttons{
  display: flex;
  justify-content: space-between;
}

/* ADMIN PANEL STYLE */
.admin-panel{
  width: 1200px;
  margin: 0 auto;
  overflow-y: hidden;
}

.admin-panel .left-col{
  position: absolute;
  width: 200px; 
  margin: 135px auto auto 170px;
}

.admin-panel input{
  display: block;
  width: 180px;
  margin: 15px;
  padding: 6px 20px;
  font-size: 14px;
  border: 1px solid rgb(100, 180, 255);
  border-radius: 10px;
  outline: none;
}

.ctrl-link p{
  font-size: 12px;
  color: rgb(0, 142, 207);
  margin: 3px 0 0 19px;
}

.admin-panel input[type='text']{
  text-align: center;
  color: rgb(100, 180, 255);
  font-size: 24px;
}

.admin-panel input[type='button']:hover{
  color: #fff;
  background: rgb(100, 180, 255);
  cursor: pointer;
  border: 1px solid #fff;
}

.admin-panel .right-col{
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 145px;
  right: 0;
  width: 590px;
  height: 350px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 10px;
}

.admin-panel .right-col .settings {
  display: flex;
  justify-content: space-between;
}

.admin-panel .right-col .settings input{
  width: 99%;
  margin: 5px auto;
}

.active-button{
  color: #fff;
  background: rgb(100, 180, 255);
  box-shadow: 1px 1px 2px rgba(26, 26, 26, 0.1);
}

/* USER SETTINGS */