@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Roboto+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}

/* LOGIN STYLES */
.user-login{
  width: 20%;
  margin: 240px auto;
}


.user-login p{
  display: block;
  color: red;
}

.user-login input{
  display: block;
  padding: 2.5%;
  margin: 2.5% 0.1%;
  padding: 5.5px;
  font-size: 18px;
  border: 1px solid rgb(157, 194, 230);
  border-radius: 10px;
  outline: none;
}

.user-login input[type='submit']{
  color: rgb(104, 147, 190);
  padding: 5px 15px;
}

.user-login input[type='submit']:hover{
  color: #fff;
  background: rgb(104, 147, 190);
  cursor: pointer;
}