@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Roboto+Mono&display=swap');

.lt-heading{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    color: rgb(104, 147, 190);
}

.lt-flex-container{
   margin: auto; 
   display: flex;  
   padding: 3px;
   line-height: 1.65;
  }

.lt-left-buttons{
    position: absolute;
    margin-left:28%;
    margin-top:55px;
    
}

.lt-left-buttons button{
    display: block;
    padding: 10px;
    margin: 20px;
    width: 180px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(104, 147, 190);

}

.lt-left-buttons button:hover{
    
        color: #fff;
        background: rgb(104, 147, 190);
        cursor: pointer;
      
}

.team-name{
    position: absolute;
    margin-left: 40%;
    text-align: center;
    
}
.team-name input{
    display: block;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 150px;
    
}
.played{
    position: absolute;
    margin-left: 49%;
    text-align: center;   
}

.played input{
    display: block;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    border: none;    
}
.won{
    position: absolute;
    margin-left: 53%;
    text-align: center;
}
.won input{
   
    display: block;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    border: none;   
}
.drawn{
    position: absolute;
    margin-left: 57%;
    text-align: center;
    
}
.drawn input{
   
    display: block;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    border: none;    
}
.lost{
    position: absolute;
    margin-left: 61%;
    text-align: center;
}
.lost input{
    
    display: block;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    border: none;   
}
.point{
    position: absolute;
    margin-left: 65%;
    text-align: center;
    
}
.point input{
    
    display: block;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    border: none;    
}

.lt-submit input[type='submit']{
    position: absolute;;
    display: block;
    padding: 15px;
    margin: 20px;
    width: 250px;
    border: none;
    border-radius: 20px;
    margin-top: 18%;
    margin-left: 44%;
    font-size: 25px;
    color: green;
}

.lt-submit input[type='submit']:hover{
    
    color: #fff;
    background: green;
    cursor: pointer;
  
}
