
/* *{ 
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 14px;
  color: rgb(122, 122, 122);
} */

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #a4b1b0;
}

.container-fluid {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-inputs{
  margin-top: 0.5%;
}

.buttons {
  padding-bottom: 20px;
}

.background{
  position: absolute;
  z-index: -2;
  opacity: 0.7;
  width: 100vw;
  height: 655px;
  top: 0;
  left: 0;
}

.football_field {
  margin: 0 auto;
	overflow: visible;
	width: 90vw;
  max-height: 400px;
  z-index: -2;
  opacity: 0.5;
}

.btnStyle {
  margin-top: 3.5%;
  border-radius: 35px;
  border: 1px solid rgb(0, 159, 187);
  font-size: 1.3rem;
  padding: 7px 5px;
  width: 12%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.start {
  color: #00c742;
}

.start:hover{
  color: #fff;
  background: #00c742;
  border: 1px solid #fff;
}

.start-active{
  color: #fff;
  background: #00c742;
  border: 1px solid #fff;
}

.stop {
  color: #ff4343;
  margin-right: 20px;
  margin-left: 20px;
}

.stop:hover{
  color: #fff;
  background: #ff4343;
  border: 1px solid #fff;
}

.stop-active{
  color: #fff;
  background: #ff4343;
  border: 1px solid #fff;
}

.reset {
  color: #2ebfed;
}

.reset:hover{
  color: #fff;
  background: #2ebfed;
  border: 1px solid #fff;
}

.screenInfo {
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-top: 0.2%;
  z-index: -1;
}

.team1 {
  margin-top: 15px;
}

.time{
  margin-top: 2%;
}
.team2 {
  margin-top: 15px;
}

.teamName {
  border-radius: 15px;
  border: 1.4px;
  border-style: solid;
  border-color: gray;
  font-size: 25px;
  width: 90%;
  outline: none;
  padding: 5px;
}

/* STATISTICS */
.stats {
  display: flex;
  width: 60%;
  margin: -50px auto;
  padding-bottom: 2.9%;
  
}

.stats .inputStyling{
  font-size: 1.4em;
}

.stats-left,
.stats-right{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.team1Stats {
  display: flex;
  width: 100%;
  line-height: 25px;
  margin: 0 auto;
}

.middleInfo {
  width: 100%;
  margin-top: 1%;
}

.team2Stats {
  display: flex;
  width: 100%;
  line-height: 25px;
  margin: 0 auto;

}

.team1Stats .inputStyling{
  width: 90%;
}
.team2Stats .inputStyling{
  width: 90%;
}

li {
  list-style: none;
}

.yellowCornerShots {
  width: 100%;
}

.redOffsideFouls {
  width: 100%;
}

.onTarget1,
.onTarget2 {
  margin-top: 1.2%;
  width: 100%;
}

.onTarget1 .inputStyling,
.onTarget2 .inputStyling{
  width: 60%;
}

.clockComponent {
  display: flex;
}

.clock {
  width: 200px;
  height: 180px;
  border-radius: 60%;
  font-size: 4.9em;
  border: 12px;
  border-style: solid;
  border-color: #A3AAA5;
  color: #fff;
  line-height: 130px;
  text-align: center;
  background: #454648;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  font-family: 'Cute Font', cursive;
  font-weight: 100;
}

.inputStyling {
  width: 100%;
  border-radius: 15px;
  border: 1.4px;
  border-style: solid;
  border-color: gray;
  font-size: 25px;
  padding: 5px;
  outline: none;
}

.middleInputStyling {
  border-radius: 15px;
  border: 1.1px;
  border-style: solid;
  border-color: gray;
  width: 35%;
  font-size: 20px;
  padding: 5px;
}

.overtime {
  margin-top: 30px;
}

.extraTime {
  margin-top: 10px;
  color: #e9b200;
  border-radius: 35px;
  font-size: 1.2rem;
  border: 1px solid rgb(182, 164, 0);
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.extraTime:hover{
  color: #fff;
  background: rgb(236, 212, 0);
}

.screen-selection{
  margin-top: 10%;
}

.screen-selection .inputStyling{
  width: 80%;
}

.broadcast {
  margin-top: 4.1%;
  border-radius: 35px;
  font-size: 1.5rem;
  border: solid 1px rgb(255, 255, 255);
  color: white;
  background-color: #03A10D;
  padding: 2% 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  cursor: pointer;
}

.broadcast:hover{
  color: #03A10D;
  background: #fff;
  border: 1px solid #03A10D;
}


@media screen and (max-width: 1300px) {
  .redOffsideFouls {
    float: left;
  }

  .onTarget {
    position: relative;
    bottom: 0;
    float: left;
  }
}