.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controlContainer {
  display: flex;
  flex-direction: row;
}

.clock {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  line-height: 180px;
  text-align: center;
  background: #000;
  display: inline-block;
}

.clockButtons {
  background-color: indianred;
  overflow: hidden;
  height: 1%;
  flex-direction: column;
}

.middleInformation {
  background-color: khaki;
  width: 100%;
}

.team1 {
  background-color: indigo;
  width: 100%;
}

.team2 {
  background-color: hotpink;
  width: 100%;
}

.teamName {
  border-radius: 10px;
  border: 1.5px;
  border-style: solid;
  border-color: gray;
  font-size: 30px;
  width: 50%;
  outline: none;
}